<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

  <head>
      <title>{{ album.name }}</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
      <link rel="shortcut icon" href="/media/images/images.png" type="image/png">
  </head>

  <body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout">Logout</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
            {% else %}
              <li><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active">
                <a href="/cart/">Cart</a>
              </li>
              <li>
                <a href="/search">Search<br></a>
              </li>
      </ul>
              </div><!-- /.navbar-collapse -->
        </div>
      </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img alt="текст" src={{ album.image.url }} class="center-block" style="max-width: 300px; max-height: 300px;">
          </div>
          <div class="col-md-6">
            <h1>{{ album.name }}</h1>
            {% for name in album.artist.all %}
              <h3>{{ name }}</h3>
            {% endfor %}
            <p>
            <h3>Issue year: {{ album.year.year }}</h3>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Tracks</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="media-list">
             {% for track in tracks %}
              <li class="media">
                <div class="media-body">

                    {% if track in purchased.track.all %}
                        <button type="button" class="btn btn-default" disabled="disabled">Purchased</button>
                    {% else %}
                        {% if track in cart.track.all %}
                            <button type="button" class="btn btn-default" disabled="disabled">Added</button>
                        {% else %}
                            <h4 class="media-heading"><button id="item{{ track.id }}" class="add btn btn-success" >
                            Buy Song</button>
                        {% endif %}
                    {% endif %}

                      &nbsp;{{track.name}} &nbsp; &nbsp;

                      <img id="play" src="/media/images/speaker.png"
                        onclick="javascript:toggleSound({{ track.id }});">
                      </img>

                      <audio id={{ track.id }}>
                          <source src="{{ track.song.url }}" type="audio/mpeg">
                      </audio>

                  </h4>
                </div>
              </li>
              <li class="media"></li>
             {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>

<script>
$(document).ready(function(){
         $ .ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
          });
          $( "button.add" ).click(function(){
            var current_button = $(this);
            $.ajax({
                url: "/add-to-cart/",
                type: "POST",
                data: {"item": $(this).attr('id')},
                success: function(data){
                  current_button.replaceWith( data );
                }
            });
           });
        });
</script>

<script type="text/javascript">
function toggleSound(id) {
  var audioElem = document.getElementById(id);
  if (audioElem.paused)
    audioElem.play();
  else
    audioElem.pause();
}
</script>

