<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

  <head>
      <title>{{ artist.name }}</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
      <link rel="shortcut icon" href="/media/images/images.png" type="image/png">
      <link href="/static/css/album_light.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout">Logout</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
            {% else %}
              <li><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active">
                <a href="/cart/">Cart</a>
              </li>
              <li>
                <a href="/search">Search<br></a>
              </li>
      </ul>
              </div><!-- /.navbar-collapse -->
        </div>
      </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img alt="текст" src="{{ artist.image.url }}" class="center-block" style="max-width: 300px; max-height: 300px;">
          </div>
          <div class="col-md-6">
            <h1>{{ artist.name }}</h1>
            <h3>{{ artist.year }}</h3>
            <h3>{% for genre in artist.genre.all %}
              #{{ genre }}
            {% endfor %} </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Albums
              <br>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
        {% for group in albums %}
            <div class="container">
                <div class="row">{% for album in group %}
                    <div class="col-md-3">
                        <a href="{% url 'albums' album.name %}"><img alt="album cover" src="{{ album.image.url }}" class="album_light img-responsive"></a>
                        <h2><a href="{% url 'albums' album.name %}">{{ album.name }}</a></h2>
                    </div>{% endfor %}</div>
                </div>

        {% endfor %}
    </div>&gt;
  </body>

</html>


