<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

  <head>
      <title>Search</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link href="/static/css/search_page.css"
    rel="stylesheet" type="text/css">
       <link href="/static/css/album_light.css"
    rel="stylesheet" type="text/css">
      <link rel="shortcut icon" href="/media/images/images.png" type="image/png">
  </head>

  <body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout">Logout</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
            {% else %}
              <li><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active">
                <a href="/cart/">Cart</a>
              </li>
              <li>
                <a href="/search">Search<br></a>
              </li>
      </ul>
              </div><!-- /.navbar-collapse -->
        </div>
      </div>


    <div class="container">
	    <div class="row" id="search-form">
          <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" id='search-text' placeholder="Search for music" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
{#                        <div class="dropdown dropdown-lg">#}
{#                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>#}
{#                            <div class="dropdown-menu dropdown-menu-right" role="menu">#}
{#                                <form class="form-horizontal" role="form">#}
{#                                  <div class="form-group">#}
{#                                    <label for="filter">Filter by</label>#}
{#                                    <select class="form-control" id="search-filter">#}
{#                                        <option value="0" selected>All Snippets</option>#}
{#                                        <option value="1">Artist</option>#}
{#                                        <option value="2">Track</option>#}
{#                                        <option value="3">Album</option>#}
{#                                    </select>#}
{#                                  </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
                        <button type="button" class="btn btn-primary" id="search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
{#        <div class="row" id="result"></div>#}
	</div>
<div class="center-block text-center" id='loader' style="display: none;">ZAGRUZKA</div>
<div id="ans" style="display:none; padding:0; cellspacing:0; margin-top: 3rem;"></div>
  <script language="javascript">
      $( function() {
          $('#search-button').click(function () {
              $.ajax({
                  method: 'get',
                  url: {% url 'search-ajax' %},
                  data: {'text': $('#search-text').val(),
{#                      'filter': $('#search-filter').val(),#}
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  beforeSend: function() {
                      $('#loader').show();
                      $('#ans').hide();
{#                      console.log({text: $('#search-text').val(), filter: $('#search-filter').val() });#}
                  }
              }).done(function(html) {
                  $('#loader').hide();
                  $('#ans').html(html).show();
              }).fail(function() {
                  $('#loader').hide();
                  $('#ans').html('<div class="text-center">ERROR</div>').show();
              });
          })
        }
      );
  </script>
</body>
</html>