 {% if artists|length %}
  <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Artists
              <br>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
        {% for group in artists %}
            <div class="container">
                <div class="row">{% for artist in group %}
                    <div class="col-md-3">
                        <a href="{% url 'artist_page' artist.name %}"><img alt="album cover" src="{{ artist.image.url }}" class="album_light img-responsive"></a>
                        <h2><a href="{% url 'artist_page' artist.name %}">{{ artist.name }}</a></h2>
                    </div>{% endfor %}</div>
                </div>

        {% endfor %}
    </div>
  {% endif %}

{% if albums %}
  <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Albums
              <br>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
        {% for group in albums %}
            <div class="container">
                <div class="row">{% for album in group %}
                    <div class="col-md-3">
                        <a href="{% url 'albums' album.name %}"><img alt="album cover" src="{{ album.image.url }}" class="album_light img-responsive"></a>
                        <h2><a href="{% url 'albums' album.name %}">{{ album.name }}</a></h2>
                    </div>{% endfor %}</div>
                </div>

        {% endfor %}
    </div>
  {% endif %}

{% if tracks %}
  <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Tracks
              <br>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
        {% for group in tracks %}
            <div class="container">
                <div class="row">{% for track in group %}
                    <div class="col-md-3">
                        <a href="{% url 'albums' track.album.name %}"><img alt="album cover" src="{{ track.album.image.url }}" class="album_light img-responsive"></a>
                        <h2><a href="{% url 'albums' track.album.name %}">{{ track.name }}</a></h2>
                    </div>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
  {% endif %}