<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>
    <title>Top Rated</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link rel="shortcut icon" href="/media/images/images.png" type="image/png">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/top_rated.css' %}">
      <link href="/static/css/album_light.css"
    rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="cover">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li><a href="/accounts/logout">Logout</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
            {% else %}
              <li><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="active">
                <a href="/cart/">Cart</a>
              </li>
              <li>
                <a href="/search">Search<br></a>
              </li>
      </ul>
              </div><!-- /.navbar-collapse -->
        </div>
      </div>
      <div class="cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1420708392410-3c593b80d416?w=1024&amp;q=50&amp;fm=jpg&amp;s=db450320d7ee6de66c24c9b0bf2de3c6')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-warning">Top Rated Music</h1>
             <p class="text-center text-warning">Enjoy, relax and taste</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Best Albums</h1>
          </div>
        </div>
      </div>
    </div>
  <div class="section" draggable="true">
     {% for group in albums %}
      <div class="container">
        <div class="row">{% for album in group %}
          <div class="col-md-3">
            <a href="{% url 'albums' album.name %}"><img alt="album cover" src="{{ album.image.url }}" class="img-responsive album_light"></a>
            <h2><a href="{% url 'albums' album.name %}">{{ album.name }}</a></h2>
            {% for name in album.artist.all %}
              <p><a href="{% url 'artist_page' name %}">{{ name }} </a></p>
            {% endfor %}
          </div>{% endfor %}</div>
      </div>
    {% endfor %}
    </div>

  </body>



</html>